{% if enable_ssl == "yes" %}
<VirtualHost *:443>
{% else %}
<VirtualHost *:80>
{% endif %}

  ServerName {{ app_host_fqdn }}

  ErrorLog /var/log/httpd/{{ app_name }}/error_log
  CustomLog /var/log/httpd/{{ app_name }}/access_log combined

  HostnameLookups Off

  UseCanonicalName On

  DocumentRoot {{ app_base_dir }}/{{ app_name }}/templates

  PassengerAppRoot {{ app_base_dir }}/{{ app_name }}
  PassengerPython python{{ app_python_version[0] }}
  PassengerAppType wsgi
  PassengerStartupFile passenger_wsgi.py

  AllowEncodedSlashes NoDecode

  <Directory {{ app_base_dir }}/{{ app_name }}/templates>
    Options -MultiViews
    Require all granted
  </Directory>

{% if enable_ssl == "yes" %}
  # Protocol, CipherSuite, and OCSP config in /etc/httpd/conf.d/ssl.conf
  SSLEngine on
  SSLCertificateFile      {{ ssl_cert_file_path }}/{{ app_host_fqdn }}_cert.cer
{% if ssl_files.self_signed == "no" %}
  SSLCertificateChainFile {{ ssl_cert_file_path }}/{{ app_host_fqdn }}_interm.cer
{% endif %}
  SSLCertificateKeyFile   {{ ssl_key_file_path }}/{{ app_host_fqdn }}.key

  CustomLog /var/log/httpd/{{ app_name }}/ssl_request_log   ssl_combined
{% endif %}

</VirtualHost>
